.igs-titre{
    text-align: center; 
    font-size: 50px;
}

.igs-container{
    display: grid; 
    grid-template-columns: auto auto auto auto; 
    font-weight: bold; 
    text-align: center;
}
.igs-colonne1, .igs-colonne2{
    margin: 15px;
    color: white;
    width: 350px;
}

.igs-colonne1{
    background-color: orangered;
}

.igs-colonne2{
    background-color: darkgreen;
}